*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8EEF5;
}

/* Début style main */

main
{
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 260px;
    margin-right: 260px; */
    margin: 50px 260px;
    background-color: #FFFFFF;
    border:#C8D4E3 solid 0.73px;
    border-radius: 8px;

}

/* Fin style main */

/* Début style block header */
header
{
    height: 294px;
    background-color: #0055CC;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header h1
{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

header h2
{
    font-size: 1.5em; 
    font-weight: 300;
    margin-bottom: 20px;
}
header h3
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header p
{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 80%;
}
/* Fin style block header */

/* Début style block container */
.container{
    padding: 0px 40px;
}

/* Début style menu de navigation */
nav{
    padding: 24px 0px;
    border-bottom: 1px solid #E0E8F5;
}

nav h4{
    text-transform: uppercase;
    color: #888888;
    margin-bottom: 10px;
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;

}

nav ul li{
    margin-right: 10px;
    border: 1px solid #B3CCFF;
    background-color: #F0F5FF;
    border-radius: 4px;
    padding: 5px 15px;

}

nav ul li:hover{
    background-color: #0055CC;
    border: 1px solid #0055CC;
}

nav ul li a{
    text-decoration: none;
    color: #0055CC;
    font-weight: 600;
}

nav ul li:hover a{
    color: #FFFFFF;
}


/* Fin style menu de navigation */

/* Fin style block container */
