h1 {
color: red;
font-size: 2rem;
}

p {
color: blue;
}

h3 {
color: green;
}

ul {
    color: #9f950e;
}

ol {
    color: #a8600e;
}

a {
    color: #a8160e;
    text-decoration: none;
    background-color: #11e9e1;
}

#monprofil {
    background-color: #ee800a;
    width: 50%;
    height: 50px;
}

section ul{
    background-color: #ef000030;
}

.codjo{
    color: #fdffbc;
    text-decoration: overline dashed #0004e0;
    text-align: right;
    background-color: #00000b;
    width: 25%;
    height: 50px;
    position: relative;
    justify-content: center;
    left: 50%;
    overflow: auto;
    
}

